<!DOCTYPE html>
<html lang="en">
    <head>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111569946-1"></script>
      <script>
	window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);}; gtag('js', new Date()); gtag('config', 'UA-111569946-1');
      </script>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>{% if page_title %} {{ page_title }} - {% endif %} keshaB Paudel, Python Developer from Nepal</title>
      {% if css_chunk %}<style>{{ css_chunk }}</style>{% endif %}
    </head>
    <body>
        <div class="container">
            <div class="head">
                {% block head %}
                    <h1>{% if page_title %}{{ page_title }}{% else %}keshaB Paudel{% endif %}</h1>
                    <div class="preamble">
                        {{ description }}
                        {% if not is_index %}
                            <a href="/">[Table of Contents]</a>
                        {% endif %}
                    </div>
                {% endblock head %}
            </div>
            <div class="content">{% block content %}{% endblock content %}</div>
            <div class="footer">
                {% block footer %}
                    <a href="/">Home</a> | <a target="_blank" href="https://github.com/poudel">Github</a> | <a href="/sitemaps.xml">Sitemaps</a> | Since 2017
                {% endblock footer %}
            </div>
        </div>
    </body>
</html>
