<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ page_title }}</title>
        <link rel="stylesheet" href="/p/style.css">
    </head>
    <body>
        <div class="container">
            <div class="head">
                {% block head %}
                    <h1>{{ page_title }}</h1>
                    <div class="preamble">
                        {{ description }}
                        {% if not is_index %}
                            <a href="/">[Table of Contents]</a>
                        {% endif %}
                    </div>
                {% endblock head %}
            </div>
            <div class="content">{% block content %}{% endblock content %}</div>
            <div class="footer">
                {% block footer %}
                    <a href="/">Home</a> | <a target="_blank" href="https://github.com/poudel">Github</a> | <a href="/sitemaps.xml">Sitemaps</a> | Since 2017
                {% endblock footer %}
            </div>
        </div>
    </body>
</html>
